.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.new {
  position: absolute;
  left: 70%;
  top: 10%;
  background-color: aquamarine;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
