.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid darkorange;
  width: 300px;
}

.counter:hover {
  background-color: navajowhite;
}

.number {
  font-size: 7rem;
}

.button {
  font-size: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: goldenrod;
}
